services:
  db:
    image: postgres:16-alpine
    container_name: django-mini-db
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build:
      context: .
      dockerfile: docker/backend.Dockerfile
    container_name: django-mini-backend
    env_file:
      - .env
    depends_on:
      - db
    expose:
      - "8000"
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    command: >
      sh -c "python manage.py migrate &&
            gunicorn core.wsgi:application --bind 0.0.0.0:8000 --workers 3 --timeout 60 --keep-alive 5 --access-logfile -"

  frontend:
    build:
      context: .
      dockerfile: docker/frontend.Dockerfile
    container_name: django-mini-frontend
    depends_on:
      - backend
    ports:
      - "80:80"

volumes:
  postgres_data:

